
header > nav > a{
    margin-right: 12px;
}
main{
    min-height: auto;
    flex-direction: column;
}
main > section {
    width: 100%;
    padding: 30px;
    text-align: center;

}
#galerie{
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
}
#galerie > figure{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
#testimonials {
    min-height: 900px;
}
